

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: gray;
  margin: 0;
}


/* Imagenes Index (Carrousel)*/
.carousel-inner {
width: 800px;
height: 400px;
}

.texto6 h1{
  text-align: center;
  color: white;
  font-style: italic;
}
#carouselp .carousel-item img {
  max-width: 100%;
  height: auto; 
}

#carouselp {
  margin-bottom: 20px;
  overflow: hidden; 
}

  .DestacadosT {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos de forma equitativa */
    padding: 0 20px; /* Agrega un espacio de relleno a los lados */
  }
  
  .Destacados {
    width: calc(33.33% - 20px); /* Calculamos el ancho de cada elemento considerando el margen */
    margin-bottom: 20px; /* Agregamos espacio entre cada fila */
  }
  
  .Destacados img {
    width: 100%;
    height: 250px;
  }
  
  .texto1,
  .texto2,
  .texto3 {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .Destacados {
      width: 100%; 
      margin-right: 0; 
    }
  }

  @media (max-width: 320px) {
    .Destacados {
      width: 100%; 
      margin-right: 0; 
    }
  }
  
  
  .Introductorio {
    color: white;
  }
/* Imagenes Productos Destacados */

/* Quienes Somos */
 .quienessomos {
    width: 600px;
    height: 250px;
    
 }
 .quienessomosbl {
  display: flex;
  flex-wrap: wrap;
 }

.qsp {
    text-align: center;
}
/* Quienes Somos */

/* Imagenes de Display  */
.DisplayInmueble1,
.DisplayInmueble2,
.DisplayInmueble3,
.DisplayInmueble4 {
    width: 300px;
    height: 200px;
}

.display1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding-left: 200px;
}
/* Imagenes de Display  */

/* Titulo Servicios  */
.titservicio {
    text-align: center;
}
/* Titulo Servicios */


/* Footer
footer {
    background-color: #212529;
    color: white;
    text-align: left;
}

.FaceIcon {
    width: 20px;
    height: 20px; 
    margin-left: 5px; 
  }

.InstaIcon {
    width: 20px;
    height: 20px; 
    margin-left: 5px; 
  }

 .logof {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

 }

footer div {
    text-align: center;
}
*/

footer {
  position: relative; /* Posicionamos de forma relativa para que el posicionamiento absoluto funcione correctamente */
  background-color: #212529;
  color: white;
  text-align: left;
  padding: 20px;
}

.FaceIcon,
.InstaIcon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.logof {
  position: absolute; /* Posicionamos de forma absoluta */
  bottom: 10px; /* Distancia desde la parte inferior */
  right: 10px; /* Distancia desde la derecha */
}

.logof img {
  width: 100px;
  height: auto;
}

.copy {
  margin-top: 10px;
  text-align: center;
}



/* Footer */