body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

.tprin {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.tprin span {
  color: #c79539;
  font-weight: bold;
}

.texto1,
.texto2,
.texto3 {
  text-align: center;
  color: white;
}

.titnos {
  text-align: center;
  font-weight: bold;
  color: white;
}

.qsp {
  text-align: justify;
  color: white;
}

.titservicio {
  text-align: center;
  margin-bottom: 20px;
  margin: 20px;
  color: white;
}

.contenido {
  text-align: center;
  color: white;
  margin: 15px;
}

.mapa p {
  margin-bottom: 10px;
}

.texto1,
.texto2,
.texto3, .tprin {
  font-family: Arial, sans-serif;
  color: white;
}

.tprin {
  text-align: center;
  margin-top: 20px;
}

.tprin span {
  color: #c79539;
  font-weight: bold;
}

.carousel-inner {
  width: auto;
  height: 400px;
  margin-bottom: 30px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#carouselp {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}

@media (max-width: 576px) {
  #carouselp {
    margin-bottom: 10px;
  }
}
.destacadosT {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.destacados {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.destacados img {
  width: 100%;
  height: 250px;
}

.texto1,
.texto2,
.texto3 {
  text-align: center;
}

.carousel-inner {
  width: auto;
  height: 400px;
  margin-bottom: 30px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#carouselp {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}
@media (max-width: 576px) {
  #carouselp {
    margin-bottom: 10px;
  }
}

.contacto {
  margin-top: 20px;
}
.contacto p {
  margin-bottom: 10px;
  color: white;
}
.contacto a {
  display: block;
  text-align: center;
  background-color: #54575a;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
  margin: 15px auto;
  transition: color 0.3s;
}
.contacto a:hover {
  background-color: #c79539;
}

.destacadosT {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.destacados {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}
.destacados img {
  width: 100%;
  height: 250px;
}
@media (max-width: 768px) {
  .destacados {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .destacados {
    width: 100%;
    margin-right: 0;
  }
}

.introductorio {
  color: white;
  text-align: justify;
  margin: 30px;
}

.titulo-inmuebles {
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 20px;
  margin-bottom: 20px;
}

.display {
  width: 100%;
  margin: 50px auto;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  position: relative;
}
.display img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}
.display:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.disptex {
  text-align: justify;
  color: white;
  font-weight: bold;
  margin: 30px;
}

.display1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .display1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  transform: translateY(100%);
}
.overlay a {
  display: inline-block;
  margin-top: 20px;
  background-color: #c79539;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.overlay a:hover {
  background-color: #c79539;
}

.quienessomosbl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.quienessomos-wrapper {
  width: 100%;
  max-width: 1200px;
}

.quienessomos-imagen {
  width: 100%;
}
.quienessomos-imagen img {
  width: 100%;
  height: 300px;
}

.video-container {
  width: 100%;
  max-width: 560px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 576px) {
  .video-container {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    margin: 20px auto;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
  }
}

.politicas-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .politicas-container {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .politicas-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .politicas-container {
    width: 65%;
  }
}

.politicas {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.politicas h1, .politicas h2 {
  color: #333;
  margin-bottom: 10px;
}
.politicas p {
  margin-bottom: 10px;
}

.header {
  background-color: #212529;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.header h1 {
  margin: 0;
}
.header nav {
  margin-top: 10px;
}
.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.tex-contact h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formularios {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}
.formularios .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formularios p {
  font-weight: bold;
}
.formularios input[type=text],
.formularios input[type=email],
.formularios input[type=tel],
.formularios textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formularios textarea {
  height: 100px;
}
.formularios input[type=checkbox],
.formularios input[type=submit] {
  margin-right: 10px;
}

.btn-primary {
  color: black;
  background-color: white;
  border-color: black;
}
.btn-primary:hover {
  color: black;
  background-color: #c79539;
  border-color: #212529;
}

.mapa {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}
.mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 5px;
}
.mapa p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .formularios,
  .mapa {
    max-width: 90%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer .footer-menu li {
  list-style: none;
  padding: 0;
}
footer .faceicon,
footer .instaicon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
footer .logo {
  width: 100px;
  height: auto;
  order: 3;
  margin-left: auto;
}
footer .footer-heading {
  margin-bottom: 20px;
  font-weight: bold;
}
footer .footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
footer .footer-section:first-child {
  order: 1;
}
footer .footer-section:last-child {
  order: 2;
}
footer .copy {
  text-align: center;
  width: 100%;
}
footer .copy a {
  color: white;
}
footer .social-icons {
  display: flex;
  justify-content: flex-end;
  order: 4;
  margin-left: auto;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  max-width: 80%;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  footer .footer-subscribe {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
footer .footer-subscribe button {
  margin-left: 5px;
}
footer .footer-subscribe input {
  flex-grow: 1;
  margin-right: 5px;
  margin: 5px 0;
}
footer .footer-heading {
  margin: 5px 0;
  margin-bottom: 15px;
  margin-top: 0;
}
footer .logo {
  order: 3;
}
footer .social-icons {
  order: 4;
}
footer .copy {
  order: 5;
}
footer .politicas {
  order: 6;
}

/*# sourceMappingURL=style.css.map */
