
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  margin: 0;
}


/* Imagenes Index (Carrousel)*/

.tprin {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.tprin span {
  color: #c79539;
  font-weight: bold;
}

.carousel-inner {
  width: auto;
  height: 400px;
  margin-bottom: 30px;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover; 
}

#carouselp {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}

@media (max-width: 576px) {
  #carouselp {
    margin-bottom: 10px;
  }
}

/*Carousel*/


  .destacadosT {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0 20px; 
  }
  
  .destacados {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
  }
  
  .destacados img {
    width: 100%;
    height: 250px;
  }
  
  .texto1,
  .texto2,
  .texto3 {
    text-align: center;
    color: white;
  }
  
  @media (max-width: 768px) {
    .destacados {
      width: 100%; 
      margin-right: 0; 
    }
  }

  @media (max-width: 320px) {
    .destacados {
      width: 100%; 
      margin-right: 0; 
    }
  }
  
  
  .introductorio {
    color: white;
    text-align: justify;
    margin: 30px;

  }
/* Imagenes Productos Destacados */

/* Quienes Somos */

.quienessomosbl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titnos {
  text-align: center;
  font-weight: bold;
  color: white
}

.qsp {
  text-align:justify;
  color: white;
}

.quienessomos-wrapper {
  width: 100%; 
  max-width: 1200px; 
}

.quienessomos-imagen {
  width: 100%; 
}

.quienessomos-imagen img {
  width: 100%;
  height: 300px; 
}

.video-container {
  width: 100%;
  max-width: 560px; 
  height: 300px; 
  margin-top: 20px; 
  overflow: hidden; 
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 576px) {
  .video-container {
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    position: relative; 
    margin-top: 20px;
  }

  .video-container iframe {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
}

/* Quienes Somos */


/* Imagenes de Display  */

.display {
  width: 100%;
  margin: 50px auto; 
  margin-bottom: 20px; 
  color: white;
  text-align: center;
}

.display img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  max-height: 300px;
}

.disptex {
  text-align: justify;
  color: white;
  font-weight: bold;
  margin: 30px;
}

.display1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
  padding: 0 10px; 
}

@media (max-width: 768px) {
  .display1 {
      grid-template-columns: repeat(1, 1fr); 
  }
}

.display {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  transform: translateY(100%);
}

.display:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay a {
  display: inline-block;
  margin-top: 20px;
  background-color: #c79539;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.overlay a:hover {
  background-color: #c79539;
}

/* Imagenes de Display  */

/* Titulo Servicios  */
.titservicio {
  text-align: center;
  margin-bottom: 20px;
  margin: 20px;
  color: white;
}

/* Contenedor del video */

.video-container {
  position: relative;
  width: 100%; 
  max-height: 400px; 
  overflow: hidden;
  margin-bottom: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.contenido {
  text-align: center;
  color: white;
  margin: 15px;
}

.contacto {
  margin-top: 20px;
}

.contacto p {
  margin-bottom: 10px; 
  color: white;
}

.contacto a {
  display: block; 
  text-align: center; 
  background-color: #54575a; 
  color: #ffffff; 
  padding: 10px; 
  text-decoration: none; 
  border-radius: 5px; 
  width: 200px; 
  margin: 15px auto;
  transition: color 0.3s;
}

.contacto a:hover {
  background-color: #c79539;
}
/* Titulo Servicios */


/* Estilos generales */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilos del formulario */
.formularios {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
.formularios p {
  font-weight: bold;
}

.formularios input[type="text"],
.formularios input[type="email"],
.formularios input[type="tel"],
.formularios textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formularios textarea {
  height: 100px;
}
.formularios input[type="checkbox"],
.formularios input[type="submit"] {
  margin-right: 10px;
}

/* Estilos del mapa */
.mapa {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
}
.mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .formularios,
  .mapa {
      max-width: 90%;
  }
}


/* Footer */


footer {
  position: relative;
  background-color: #212529;
  color: white;
  text-align: left;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.FaceIcon,
.InstaIcon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

.logof {
  position: absolute; 
  bottom: 55px; 
  right: 10px; 
}

.logof img {
  width: 100px;
  height: auto;
}

.copy {
  margin-top: 10px;
  text-align: center;
}

/* Footer */