
.titulo-inmuebles {
    text-align: center;
    color: $font-color;
    font-size: 2em;
    margin-bottom: 20px;
  }

.display {
    width: 100%;
    margin: 50px auto; 
    margin-bottom: 20px; 
    color: $font-color;
    text-align: center;
    position: relative;

    img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        max-height: 300px;
    }

    &:hover .overlay {
        opacity: 1;
        transform: translateY(0);
    }
}

.disptex {
    text-align: justify;
    color: $font-color;
    font-weight: bold;
    margin: 30px;
}

.display1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    padding: 0 10px; 

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: $font-color;
    transition: 0.5s ease;
    opacity: 0;
    padding: 20px;
    text-align: center;
    transform: translateY(100%);

    a {
        display: inline-block;
        margin-top: 20px;
        background-color: $logo-color;
        color: $font-color;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: $logo-color;
        }
    }
}