.tprin {
    text-align: center;
    color: $font-color;
    margin-top: 20px;

    span {
        color: $logo-color;
        font-weight: bold;
    }
}

.texto1,
.texto2,
.texto3 {
    text-align: center;
    color: $font-color;
}

.titnos {
    text-align: center;
    font-weight: bold;
    color: $font-color;
}

.qsp {
    text-align:justify;
    color: $font-color;
}

.titservicio {
    text-align: center;
    margin-bottom: 20px;
    margin: 20px;
    color: $font-color;
}

.contenido {
    text-align: center;
    color: $font-color;
    margin: 15px;
}

.mapa p {
    margin-bottom: 10px; 
  }