.tprin {
    text-align: center;
    color: white;
    margin-top: 20px;

    span {
        color: #c79539;
        font-weight: bold;
    }
}

.texto1,
.texto2,
.texto3 {
    text-align: center;
    color: white;
}

.titnos {
    text-align: center;
    font-weight: bold;
    color: white;
}

.qsp {
    text-align:justify;
    color: white;
}

.titservicio {
    text-align: center;
    margin-bottom: 20px;
    margin: 20px;
    color: white;
}

.contenido {
    text-align: center;
    color: white;
    margin: 15px;
}