
footer {
  position: relative;
  background-color: #212529;
  color: white;
  text-align: left;
  padding: 20px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }

  .faceicon,
  .instaicon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .logof {
    position: absolute; 
    bottom: 55px; 
    right: 10px; 

    img {
      width: 100px;
      height: auto;
    }
  }
}

.copy {
  margin-top: 10px;
  text-align: center;
}