
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $headfot-color;
  color: $font-color;
  padding: 20px;

  a {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
  }

  .footer-menu {
    li {
      list-style: none;
      padding: 0;
    }
  }

  .faceicon,
  .instaicon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .logo {
    width: 100px;
    height: auto;
    order: 3;
    margin-left: auto;
  }

  .footer-heading {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &:first-child {
      order: 1;
    }

    &:last-child {
      order: 2;
    }
  }

  .copy {
    text-align: center;
    width: 100%;

    a {
      color: $font-color;
    }
  }

  .social-icons {
    display: flex;
    justify-content: flex-end;
    order: 4;
    margin-left: auto;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    max-width: 80%;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    button {
      margin-left: 5px;
    }

    input {
      flex-grow: 1;
      margin-right: 5px;
      margin: 5px 0;
    }
  }

  .footer-heading {
    margin: 5px 0;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .logo {
    order: 3;
  }

  .social-icons {
    order: 4;
  }

  .copy {
    order: 5;
  }

  .politicas {
    order: 6;
  }
}