
footer {
  position: relative;
  background-color: $headfot-color;
  color: $font-color;
  text-align: left;
  padding: 20px;

  a {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
  }

  .faceicon,
  .instaicon {
    width: 35px;
    height: 35px;
    margin: 0 5px;
  }

  .logof {
    position: absolute; 
    bottom: 55px; 
    right: 10px; 

    img {
      width: 100px;
      height: auto;
    }
  }

  .copy {
    margin-top: 10px;
    text-align: center;
  }
}