
.header {
  background-color: $headfot-color;
  color: $font-color;
  padding: 10px 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  nav {
    margin-top: 10px;

    a {
      color: $font-color;
      text-decoration: none;
      margin: 0 10px;
    }
  }
}
  